@font-face {
  font-family: yofont;
  src: url("/bkHouse/images/iconfont/iconfont.woff") format("woff"), url("/bkHouse/images/iconfont/iconfont.ttf") format("truetype");
  
}
@font-face {
  font-family: yofont;
  src: url("/bkHouse/images/iconfont/iconfont-d.woff") format("woff"), url("/bkHouse/images/iconfont/iconfont-d.ttf") format("truetype");
}
